body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    /* margin: 0; */
    /* background-color: #f0f0f0; */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 1rem;
}

input {
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 定义通用按钮样式 */
button,
.button {
    background-color: #198754;
    /* 按钮背景颜色 */
    color: #fff;
    /* 文字颜色 */
    border: none;
    /* 无边框 */
    padding: 0.5rem 1rem;
    /* 内边距 */
    font-size: 1rem;
    /* 字体大小 */
    border-radius: 5px;
    /* 边框圆角 */
    cursor: pointer;
    /* 鼠标悬停时的指针样式 */
    margin-top: 1rem;
    /* 外边距 */
}

/* 特定按钮样式，用于替换 button2 */
.my-button-danger {
    background-color: #dc3545;
    /* 按钮背景颜色，改变为另一种颜色 */
    /* 其他样式与 .button 相同，所以不需要重复 */
}


.my-button {
    /* 你的样式 */
    background-color: #198754;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}


button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.rectangle-container {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.rectangle {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.highlight {
    background-color: #f1c40f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}